<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
    <ul class="nav menu">
        <li class="active">
            <a href="/">
                <i class="fa fa-tachometer" aria-hidden="true"></i> <span>BDMEP</span><small>to</small>XLS
            </a>
        </li>
        <li id="celsius_to_fahrenheit">
            <a href="/celsius_to_fahrenheit">
                <i class="fa fa-thermometer-full" aria-hidden="true"></i> Cº To Fº
            </a>
        </li>
        <li id="recomendacao">
            <a href="/recomendacao">
                <i class="fa fa-star" aria-hidden="true"></i>  Recomendações
            </a>
        </li>
        <li role="presentation" class="divider"></li>
    </ul>
    <div class="attribution">
        Template by <a href="http://www.medialoot.com/item/lumino-admin-bootstrap-template/">Medialoot</a><br/>
        <a href="http://www.glyphs.co" style="color: #333;">Developed by Gabriel Rocha</a></div>
</div>