<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
    <ul class="nav menu">
        <li class="active"><a href="/"><svg class="glyph stroked dashboard-dial"><use xlink:href="#stroked-dashboard-dial"></use></svg> <span>BDMEP</span><small>to</small>XLS</a></li>
        <li id="recomendacao"><a href="/recomendacao"><svg class="glyph stroked star"><use xlink:href="#stroked-star"></use></svg> Recomendações</a></li>
        <li role="presentation" class="divider"></li>
    </ul>
    <div class="attribution">
        Template by <a href="http://www.medialoot.com/item/lumino-admin-bootstrap-template/">Medialoot</a><br/>
        <a href="http://www.glyphs.co" style="color: #333;">Icons by Glyphs</a><br>
        <a href="http://www.glyphs.co" style="color: #333;">Developed by Gabriel Rocha</a></div>
</div>