{% extends 'base.html' %}

{% block title %}
    BDMEPtoXLS - LMT1901
{% endblock %}
{% include 'includes/nav.html' %}
{% include 'includes/menu.html' %}
{% block body %}
    <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
        <div class="row">
            <ol class="breadcrumb">
                <li><a href="/"><i class="fa fa-home" aria-hidden="true"></i></a></li>
                <li class="active">BDMEPtoXLS</li>
            </ol>
        </div>
        <br/>
        <form action="" method="POST">
            <div class="row">
                <div class="col-lg-12">
                    <div class="col-md-3 col-sm-3 col-xs-6">
                        <div class="dashboard-div-wrapper bk-clr-one">
                            <i class="fa fa-calendar dashboard-div-icon"></i>
                            <div class="form-group" id="periodo">
                                <label class="font-noraml">Período</label>
                                <div class="input-daterange input-group" id="datepicker">
                                    <input type="text" class="input-sm form-control" name="data_inicio" value="01/01/2016"/>
                                    <span class="input-group-addon">até</span>
                                    <input type="text" class="input-sm form-control" name="data_fim" value="01/02/2016"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-8">
                        <label id="estaca_id"><font color="red">*</font>ESTAÇÕES</label><br>
                        <span id="error"></span>
                        {% for id, estacao in estacoes %}
                            <div class="radio">
                                <label>
                                    <input type="radio" name="estacao" value="{{ id }}">{{estacao}} - {{id}}<br>
                                </label>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-lg-12 col-lg-offset-1">
                    <div class="submit col-md-3 col-sm-3 col-xs-6" action="/download/horarios">
                        <div class="dashboard-div-wrapper bk-clr-one">
                            <i class="fa fa-file-excel-o dashboard-div-icon"></i>
                            <label class="font-noraml">Horários</label>
                        </div>
                    </div>
                    <div class="submit col-md-3 col-sm-3 col-xs-6" action="/download/diarios">
                        <div class="dashboard-div-wrapper bk-clr-two">
                            <i class="fa fa-file-excel-o dashboard-div-icon"></i>
                            <label class="font-noraml">Diários</label>
                        </div>
                    </div>
                    <div class="submit col-md-3 col-sm-3 col-xs-6" action="/download/mensal">
                        <div class="dashboard-div-wrapper bk-clr-three">
                            <i class="fa fa-file-excel-o dashboard-div-icon"></i>
                            <label class="font-noraml">Mensais</label>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        </div>
    </div>	<!--/.main-->
{% endblock %}
{% block extrajs %}
    <script>
        $(document).ready(function(){
            $(".submit").click(function(){
                if ($("input[name=estacao]:checked").size() <= 0){
                    $("#error").children().remove();
                    $("#error").append("<br><small><font color=red>Este Campo é Obrigatório</font></small>");
                }else{
                    action = $(this).attr("action");
                    $("form").attr("action", action);
                    $("form").submit();
                }
            });
            $("input[name=estacao]").click(function(){
                $("#error").children().remove();
            });
            $('#periodo .input-daterange').datepicker({
                keyboardNavigation: false,
                forceParse: false,
                autoclose: true,
                format: "dd/mm/yyyy",
                language: "pt-BR"
            });
        });
    </script>
{% endblock %}

